
h2 {
    margin-top: 10px;
    font-size: 8vw;
    font-weight: 800;
    text-align: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    line-height: 1.15;
}

@keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes flipDown {
    to {
        transform: rotateX(0deg);
    }
}

@keyframes flick {
    0%, 100% {
        transform: rotateX(0deg) rotateZ(0deg);
        animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    }
    50% {
        transform: rotateX(0deg) rotateZ(10deg);
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }
}

h2 span {
    animation: flipUp 1s cubic-bezier(0.34, 1.56, 0.64, 1) both,
    flipDown 1s cubic-bezier(0.34, 1.56, 0.64, 1) 4.2s forwards;
    transform-origin: 50% 70%;

}

h2 span:nth-child(2) {
    margin-right: 0.15em;
    animation-delay: 0.2s, 4.4s;
}

h2 span:nth-child(3) {
    margin-right: 0.15em;
    animation-delay: 0.4s, 4.6s;
}

h2 span:nth-child(4) {
    animation-delay: 0.6s, 4.8s;
}

h2 span:nth-child(5) {
    animation-delay: 0.8s, 5s;
}

h2 span:nth-child(6) {
    animation-delay: 1s, 5.2s;
}

h2 span:nth-child(7) {
    animation-delay: 1.2s, 5.4s;
}

h2 span:nth-child(8) {
    /* animation-delay: 1.4s, 5.6s; */
    animation: flipUp 1.2s 1.4s cubic-bezier(0.34, 1.56, 0.64, 1) both,
    flipDown 1s 5.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards,
    flick .95s 7.4s linear forwards;
    font-family: 'Luminari', cursive;
}

h2 span:nth-child(9) {
    animation-delay: 1.6s, 5.8s;
    font-family: 'Comic Sans MS', cursive;
}

h2 span:nth-child(10) {
    animation-delay: 1.8s, 6s;
}

h2 span:nth-child(11) {
    animation-delay: 2s, 6.2s;
}

h2 span:nth-child(12) {
    animation-delay: 2.2s, 6.4s;
}

h2 span:nth-child(13) {
    animation-delay: 2.4s, 6.6s;

}

h2 span:nth-child(14) {
    animation-delay: 2.6s, 6.8s;
    font-family: 'Monaco', monospace;
}

h2 span:nth-child(15) {
    /* animation-delay: 2.8s, 7s; */

    animation: flipUp 2.6s 2.8s cubic-bezier(0.34, 1.56, 0.64, 1) both,
    flipDown 1s 7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards,
    flick .95s 7.55s linear forwards;

}

span {
    display: inline-block;
    color: #e765a2;
}

span:nth-child(2n) {
    color: #3fabe6;
}

index-img {
    border-radius: 10px;
    border-color: black;
    border: solid;
}

.shadow {
    text-shadow: 1px 2px white;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


img {
    max-width: 100%;
}

.gallery {
    background-color: #dbddf1;
    padding: 80px 0;
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
}

#gallery-modal .modal-img {
    width: 100%;
}

.descriere {
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: Georgia, serif;
    box-shadow: 1px 2px rgb(65, 68, 119);
}

.descriere2 {
    background-color: #eec7d9;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
    box-shadow: 2px 2px rgb(172, 68, 68);
    text-align: center;
    font-weight: 550;
    font-family: Apple Chancery, cursive;
}


.contact {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    /*background-color: #da4ce8;*/
    color: black;

    box-sizing: border-box;
    width: 65%;
    height: auto;
    background-color: #f1dcf8;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    border-style: solid;
    box-shadow: 2px 2px #c5c6c7;


}

.centered {
    text-shadow: 1px 1px #dcdcde;
    text-align: center;
}

.container img {
    border-radius: 155px;
    position: relative;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    font-weight: 800;
    text: 2vw
}